/** GLOBAL **/
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a:link {
  text-decoration: none;
}

.road-content a:visited {
  color: #ac9393ff;
}

.road-content a:link {
  color: #ac9393ff;
}

.row {
  content: '';
  display: table;
  clear: both;
  width: 100%;
  height: 100vh;
  margin: 0;
}

/* main layout */

.main {
  width: 100%;
  height: 90vh;
}

.main-title {
  font-family: 'Saira Stencil One', cursive;
  font-size: 200px;
  text-align: center;
  color: #ac9393ff;
  opacity: 0.4;
}

.main-desc {
  position: relative;
  width: 45%;
  text-align: center;
  color: #483737ff;
  font-size: 55px;
  font-family: 'Saira Stencil One', cursive;
  margin-top: -12%;
  margin-right: auto;
  margin-left: auto;
}

/* post layout */
.post {
  width: 60%;
  margin: 5% auto;
  border: 1px solid #e2d0d0;
  border-radius: 5px;
  padding: 15px 30px;
}

.post-title {
  font-size: 50px;
  color: #ac9393ff;
  text-align: center;
}

.post-subtitle {
  margin: 20px 0;
  color: #ac9393ff;
  opacity: 0.4;
  text-align: center;
}

.post-desc {
  font-size: 20px;
  color: #4d4d4d;
}

.post-link {
  font-size: 20px;
  color: #ac9393;
  width: 80px;
  background-color: #eee9e9;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
  margin-left: 85%;
  border-radius: 5px;
}

/* road layout */

.road-content {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  position: absolute;
}

#road {
  top: 100;
}

.to_my_road {
  text-align: center;
  font-size: 30px;
  font-family: 'Saira Stencil One', cursive;
  color: #ac9393;
  opacity: 0.4;
  height: 80px;
  margin: auto;
}

.main-post {
  margin-top: -30px;
  height: 90vh;
  overflow: scroll;
}

/* mobile setting */
@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 100px;
    margin: 5%;
    opacity: 1;
  }

  .main-desc {
    font-size: 30px;
    width: 90%;
  }

  .main {
    height: 80vh;
  }

  .post {
    width: 90%;
  }
}